@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html {
    background-image: url(img/fondo.AVIF);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

/* Hedaer */

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.img-container {
    max-width: 250px;
    height: inherit;
    animation: girar 5s ease infinite;
    transform-style: preserve-3d;

}



@keyframes girar {

    0% {
        transform: rotateY(360deg);
    }

}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    font-size: 1.1em;
}


.img-enlaces {
    border: 1px solid rgb(22, 175, 180);
    border-radius: 10px;
    padding: 5px;
}

.img-enlaces:hover {
    background-color: rgb(22, 175, 180);
    transition: .3s ease;
    border-radius: 10px;
    transform: rotate(20deg);

}

/* Panel */

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff38;
    border: 1px solid rgb(22, 175, 180);
}

.panel-btn:hover {
    background-color: rgb(22, 175, 180);
    transform: scale(80%);
}

.btn-img {
    width: 70%;
    height: 70%;

}


.panel {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
    background-color: rgba(0, 0, 0, 0.885);
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 900;
    transition: clip-path 0.5s ease;
}

.panel.is-active {
    transition: clip-path 0.5s ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.panel_enlaces {
    color: #fff;
    text-decoration: none;
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(22, 175, 180);
    transition: .8s ease;
    background-color: #0000008f;
}

.panel_enlaces:hover {
    background-color: rgb(22, 175, 180);
    color: #000000;
    transform: scale(80%);
}

.img-enlaces {
    width: inherit;
    height: inherit;
}


/* Presentacion */
.section_hero {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 48vh;
    justify-content: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;

}

.section_hero button {
    margin-top: 30px;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #0000008f;
    margin: 10px;
    border: 1px solid rgb(22, 175, 180);
}

.enlace-hero:hover {
    background-color: rgba(255, 255, 255, 0.112);
    font-weight: bold;
    transform: scale(80%);
}

.enlace-hero{
    margin-top: 30px;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #0000008f;
    margin: 10px;
    border: 1px solid rgb(22, 175, 180);
    text-decoration: none;
    width: 100px;
}

.color-section {
    color: rgb(16, 231, 238);
}

/* Sobre mi */
#section_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    text-align: center;
    padding: 100px 12px;
    color: #fff;
}

#section_info img {
    width: 500px;
    height: 500px;
}


#section_info .section_lenguajes {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#section_info .section-img {
    width: 50px;
    height: 50px;
}

#section_info .section-img:hover {
    /* transform: rotate(20deg); */
    transform: scale(80%);
}

#section_info .section-img:nth-child(5) {
    animation: giro 5s ease infinite;
}

#section_info .section-img:nth-child(6) {
    animation: giro 5s ease infinite;
}

@keyframes giro {
    0% {
        transform: rotateZ(360deg);
    }
}



/* Proyectos realizados */
#proyectos {
    width: 90%;
    text-align: center;
    color: white;
    padding: 100px 0;
    margin: 0 auto;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;

}

.contenedor {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
}

.carta {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 10%;
    overflow: hidden;
    border: 1px solid rgb(22, 175, 180);
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(2px);
}

.img-card {
    width: 100%;
    height: inherit;
    
}

.link {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateX(-920%);
    transition: .8s ease;
    opacity: 0;
}

.overlay {
    position: absolute;
    width: 200px;
    height: 250px;
    background: rgba(0, 0, 0, 0.625);
    transition: .8s;
    opacity: 0;
    z-index: 1;
    transform: translateY(100%);
}

.carta:hover .overlay {
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
}

.carta:hover .link {
    transform: translateX(-460%);
    transition: 3s;
    opacity: 1;
}


/* Formulario */

#contacto {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 72vh;
}

.contac_form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contac_form>* {
    padding: 0.5rem;
    margin: 1rem auto;
    width: 100%;
}

.contac_form textarea,
.contac_form input {
    font-size: 1rem;
    font-family: sans-serif;
    resize: none;

}

.contac_form legend {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}

#submit {
    width: 30%;
    border: 1px solid rgb(22, 175, 180);
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.112);
    transform: scale(80%);

}


.contac_form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.contac_form [required]:invalid {
    border: thin solid var(--form-error-color);
}

.contac_form input,
textarea {
    background-color: #0000008f;
    color: #fff;
}

.form_mensaje {
    display: flex;
    color: #fff;
    justify-content: center;
    border: 1px solid rgb(22, 175, 180);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.112);
    width: 20%;
    display: flex;
    margin: auto;
    height: 32px;
    align-items: center;
    font-size: 15px;

}

.none {
    display: none;
}

/* footer */

footer {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

footer .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer .container P {
    color: #fff;
    text-align: center;
}

footer .img-footer{
    width: 40px;
    height: 40px;
}

footer .img-footer:hover{
    transform: scale(80%);
}


/* Efecto fade */

.fade_left {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: all 2s ease;
}

.fade_up {
    opacity: 0;
    transition: all 2s ease;
}

.fade_opacity {
    opacity: 0;
    transition: all 1s ease-in;
    clip-path: polygon(100% 0, 100% 0, 100% 99%, 100% 100%);
}


.aparece {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
}



/* Medias */

@media (max-width:800px) {

    header {
        margin: 0 auto;
        margin-top: 30px;
        width: 90%;
        height: auto;
    }



    nav img {
        width: 100%;
        height: inherit;
    }


    h1 {
        font-size: 2em;
    }

    .section_hero {
        font-size: 13px;
        height: 45vh;
        padding: 10px;
    }



    .section_img {

        width: 300px;
        height: 300px;
    }

    #section_info img {
        width: 100%;
        height: 100%;

    }

    #section_info p {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 300px;
        height: 200px;

    }

    .contenedor {
        display: flex;
        justify-content: center;

    }

    #contacto {
        height: 560px;
    }

    #submit {
        width: 50%;
    }

    .form_mensaje {
        width: 45%;
        text-align: center;
        font-size: 15px;
    }


}